@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --color-background: #1C1822;
  --color-primary: #F56A84;
  --color-text-light: #F7F8FA;
  --color-text-dark: #1C1822;

  --color-text-secondary: #888888;
  --color-border-geral: #E7E9ED;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
